:root {
    --dark-color:  #0c7954ee; 
    --dark-light: #0e6f4eee;
    --light-color: #b5edd0ee; 
    --light-light: #c5f5dbee;


    --font-family: "Palatino Linotype", "Palatino", "Book Antiqua", serif;
    --font-code: "Monaco", monospace;
}