:root {
    /* --dark-color:  #641616; 
    --dark-light: #901414;
    --light-color: #eecaca; 
    --light-light: #fbe8e8; */

    --dark-color:  #11a876ee; 
    --dark-light: #0fbf84ee;
    --light-color: #b5edd0ee; 
    --light-light: #c9f8deee;


    --font-family: "Palatino Linotype", "Palatino", "Book Antiqua", serif;
    --font-code: "Monaco", monospace;
}