<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Differential Equations: {{ page.title }}{{ page.stitle }}</title>
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="stylesheet" href="/SP26/assets/css/variable.css">
    <link rel="stylesheet" href="https://bear-resort.github.io/assets/css/style.css">
    <script type="text/javascript"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>

<body class="day-theme">
  <script type="module" src="https://bear-resort.github.io/assets/js/cookie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>

  <div class="topnav" id="top" style="text-align: center;">
    <span class="logo"> <img src="/SP26/img/logo.png" style="vertical-align: middle; height: 25px; width: 25px" alt="logo"></span> &nbsp; PILOT Learning for <i>Differential Equations</i> &nbsp; &nbsp;  
    <a href="/SP26/index.html" id="home">Home</a> | 
    <a href="/SP26/psets.html" id="psets">Problem Sets</a> |
    <a href="/SP26/resources.html" id="resources">Resources</a> |
    <a href="/SP26/contacts.html" id="contacts">Contacts</a>
  </div>
  <div id="dynamic-island" style="display: none;"></div>
  <div id="content" style="text-align: left;">
    <br><br><br>
    <div style="text-align: center;"><i>Draft Page</i>: This semester has not started, for the previous ones, please check on <a href="https://jhu-ode-pilot.github.io">all semesters</a>.</div>
    <br><br>
    <div style="text-align: center;">
        <div class="largertitle">{{ page.title }}</div>
    </div>
    <br>
    <div id="contents">
      {{ content }}
    </div>
    <br><br><br>
  </div>

  <canvas id="drawCanvas"
    style="position:fixed;top:0;left:0;width:100vw;height:100vh;
    pointer-events:none;z-index:2;display:none;">
  </canvas>

  <div id="day-night">🌞</div>
  <div class="botnav" id="btm" style="text-align: center;">
    <div id="cmd" style="display: none; z-index: 8;">
      <input type="text" style="width: 90%;" id="cmd-box" placeholder="Type command here..." />
    </div>
    <div class="led-ticker" id="banner">
      <span class="led-message">If you find any questions, please contact us via <a href="/SP26/contacts.html">Contacts</a> tab.</span>
    </div>
  </div>

  <div id="result-modal" style="display: none">
    <div id="result-box">
      <div id="result-text"></div>
      <button id="close-modal-btn">×</button>
    </div>
  </div>
  
  <div id="lang", style="z-index: 9;">✍️</div>


  <script type="text/javascript"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>

  <script>
    const pageName = "{{ page.title }}";
    const pageCate = "{{ page.category }}";
  </script>

<script src="/SP26/assets/js/active.js"></script>
<script src="/SP26/assets/js/alert.js"></script>
<script src="/SP26/assets/js/pdf-reader.js"></script>
<script src="/SP26/assets/js/redirect.js"></script>
<script src="/SP26/assets/js/led.js"></script>
<script src="/SP26/assets/js/console.js"></script>
<script src="/SP26/assets/js/disable-page.js"></script>
<script type="module" src="https://bear-resort.github.io/assets/js/day-night.js"></script>
<script type="module" src="https://bear-resort.github.io/assets/js/textarea.js"></script>
<script src="https://bear-resort.github.io/assets/js/dynamic-island.js"></script>
<script src="https://bear-resort.github.io/assets/js/listener.js"></script>

</body>
</html>